<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.outsource.dao.ProjectTypeDao">
    <resultMap id="BaseResultMap" type="com.outsource.model.ProjectTypeDO">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="DATE"></result>
    </resultMap>
    <select id="getProjectTypeById" resultMap="BaseResultMap">
        SELECT * FROM project_type WHERE id = #{id};
    </select>
    <select id="getProjectTypeByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * FROM  project_type WHERE name = #{name};
    </select>
    <insert id="insertProjectType" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO project_type(name,description,parent_id,status,create_time) VALUES (#{name},#{description},#{parentId},#{status},#{createTime});
    </insert>
    <update id="updateProjectType" parameterType="com.outsource.model.ProjectTypeDO">
        UPDATE project_type set name = #{projectType.name},description = #{projectType.description};
    </update>
    <update id="updateStatus">
        UPDATE project_type set status = #{status} WHERE id = #{id};
    </update>
    <select id="listMainProjectTypeId" resultType="java.lang.Integer">
        SELECT id FROM project_type WHERE parent_id = 0;
    </select>
    <select id="listChildProjectTypeId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT id FROM project_type WHERE parent_id = #{mainId} AND status = 1;
    </select>
</mapper>