<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.outsource.dao.ProjectDao">
    <resultMap id="BaseResultMap" type="com.outsource.model.ProjectDO">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="location" property="location" jdbcType="VARCHAR"/>
        <result column="money" property="money" jdbcType="VARCHAR"/>
        <result column="master_graph" property="masterGraph" jdbcType="VARCHAR"/>
        <result column="introduction" property="introduction" jdbcType="VARCHAR"/>
        <result column="poster" property="poster" jdbcType="VARCHAR"/>
        <result column="classification" property="classification" jdbcType="INTEGER"/>
        <result column="recommend_level" property="recommendLevel" jdbcType="INTEGER"/>
        <result column="display_status" property="displayStatus" jdbcType="INTEGER"/>
        <result column="time" property="time" jdbcType="DATE"/>
    </resultMap>
    <insert id="insertProject" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO project(name,description,location,money,master_graph,introduction,poster,classification,recommend_level,display_status,time) VALUES
        (name,description,location,money,masterGraph,introduction,poster,classification,recommendLevel,displayStatus,time);
    </insert>
    <select id="findProjectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT * FROM project WHERE id = #{id};
    </select>
    <update id="updateDisplayStatus">
        UPDATE project SET display_status = #{status};
    </update>
    <update id="updateProject" parameterType="com.outsource.model.ProjectDO">
        UPDATE project SET
        <if test="#{name} != null">
          name = #{name}
        </if>
        <if test="#{description} != null">
            ,description = #{description}
        </if>
        <if test="#{location} != null">
            ,location = #{location}
        </if>
        <if test="#{money} != null">
            ,money = #{money}
        </if>
        <if test="#{masterGraph} != null">
            ,master_graph = #{masterGraph}
        </if>
        <if test="#{introduction} != null">
            ,introduction = #{introduction}
        </if>
        <if test="#{poster} != null">
            ,poster = #{poster}
        </if>
        <if test="#{recommendLevel} != null">
            ,recommend_level = #{recommendLevel}
        </if>
        WHERE id = #{id};
    </update>
    <select id="pagesProjectByTypeId" parameterType="java.lang.Integer" resultMap="BaseResult">
        SELECT * FROM project WHERE display_status = 1 ORDER BY time DESC;
    </select>
</mapper>