<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.outsource.dao.TopicDao">
    <resultMap id="BaseResultMap" type="com.outsource.model.TopicDO">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="author_name" property="authorName" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="display_status" property="displayStatus" jdbcType="INTEGER"/>
        <result column="classification" property="classification" jdbcType="INTEGER"/>
        <result column="pub_time" property="pubTime" jdbcType="DATE"/>
    </resultMap>
    <insert id="addTopic" parameterType="com.outsource.model.TopicDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO topic(title,author_name,content,display_status,classification,pub_time) VALUES (#{title},#{authorName},#{content},#{displayStatus},#{classification},#{pubTime});
    </insert>
    <select id="getTopicById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT * FROM topic WHERE id = #{id};
    </select>
    <select id="listProjectByTypeId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT * FROM topic WHERE classification = #{topicTypeId} and display_status = 1 ORDER BY pub_time DESC;
    </select>
    <update id="updateTopicStatus">
        UPDATE topic SET display_status = #{status} WHERE id = #{id};
    </update>
    <update id="updateTopic">
        UPDATE topic SET
        <if test="#{title != null}">
            title = #{title}
        </if>
        <if test="#{authorName != null}">
            ,author_name = #{authorName}
        </if>
        <if test="#{content != null}">
            ,content = #{content}
        </if>
        <if test="#{classification != null}">
            ,classification = #{classification}
        </if>
        WHERE id = #{id};
    </update>
</mapper>